

parameters:
    paths:
        - src
    level: max
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Else branch is unreachable because previous condition is always true.#'
            path: src/Log.php
        -
            message: '#expects array<string>#'
            path: src/util/ArrayManipulations.php
        -
            message: '#has no return typehint#'
            path: src/interfaces/Source.php
        -
            message: '# expects string, string\|false given#'
            path: src/response/Page.php
        -
            message: '#BSONDocument, array\|object given#'
            path: src/data/MongoDB.php