---
---

@import "{{ site.them }}";

nav .a {
    color: #2877B8;
    font-weight: bold;
}
nav span {
    display: inline-block;
    padding-right: 2rem;
}

#main_content_wrap .inner {
	max-width: 800px;
}
